.leading-gap {
  line-height: 1.5;
}

/* Shared floating icon styles */
.floating-icon {
  position: absolute;
  display: none; /* hidden on mobile */
}

@media (min-width: 1024px) {
  .floating-icon {
    display: block; /* show on md+ */
  }
}

/* Icon 1 */
.floating-icon-1 {
  position: absolute;
  top: 30%; /* matches top-90 */
  left: 10%; /* matches left-50 */
  width: 68px; /* matches w-17 → 17*4 */
  height: 68px; /* matches h-17 */
}

/* Icon 2 */
.floating-icon-2 {
  position: absolute;
  top: 150px; /* matches top-42 */
  right: 340px; /* matches right-46 */
  width: 80px; /* matches w-20 */
  height: 80px; /* matches h-20 */
}

/* Icon 3 */
.floating-icon-3 {
  position: absolute;
  bottom: 55%; /* matches top-110 */
  right: 450px; /* matches right-65 */
  width: 68px; /* matches w-17 */
  height: 68px;
}

.dashboard-preview {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 4rem; /* mt-16 */
  margin-bottom: 2.5rem; /* mb-10 */
  width: 100%;
}

.dashboard-wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
}

.dashboard-img {
  width: 100%;
  height: auto;
  display: block;
}

/* Swiper overlay */
.slider-container {
  position: absolute;
  top: 11%;
  left: 5.5%;
  width: 89%;
  height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px; /* optional */
}

/* Slides */
.img-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ========================================== Our Product ===================================== */

.founder-desc {
  text-align: center !important;
}

@media (min-width: 768px) {
    .founder-desc {
        text-align: left !important;
    }
}